# Expo
.expo/
__generated__/
web-build/
bare-apps/
dist/
.client-builds/
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/bare-expo/deploy-url.txt

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# Environment & Local Config
.envrc.local
.env*.local

# Editors
# Emacs
*~

# Vim
.*.swp
.*.swo
.*.swn
.*.swm

# VS Code
.vscode/launch.json
.history/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Android Studio / IDEA
*.iml
.gradle/
.idea/
.android/logcat.txt

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata/
**/ios/.xcode.env.local

# Android
*.apk
*.hprof
ReactAndroid-temp.aar

# Temporary & Dynamic Files
.metro-health-check*
.kernel-ngrok-url

# Fastlane
/*.cer
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/Deployment
/fastlane/test_output
/gc_keys.json
/fastlane/gc_keys.json

# CI
/android/logcat.txt

# Shell Apps & Artifacts
android-shell-app
shellAppBase-*
shellAppIntermediates
shellAppWorkspaces
/artifacts/*

# Codemod
.codemod.bookmark

# Expo Docs
docs/pages/versions/*/react-native/ADDED_*.md
docs/pages/versions/*/react-native/REMOVED_*.md
docs/pages/versions/*/react-native/*.diff

# Expo Go
/apps/expo-go/src/dist/

# Prebuilds
/packages/**/*.xcframework
/packages/**/*.spec.json
/packages/**/Info-generated.plist
!crsqlite.xcframework

# Template Files & Projects
/apps/bare-expo/android/app/google-services.json
/apps/bare-expo/ios/BareExpo/GoogleService-Info.plist
templates/**/android/**/generated/*
templates/**/android/app/build/
templates/**/Pods/**
templates/**/Podfile.lock
templates/**/yarn.lock

# iOS and Android folders for EAS Prebuild
/android
/ios

# Native Files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# @generated expo-cli sync-b5df6a44d8735348b729920a7406b633cfb74d4c
# The following patterns were generated by expo-cli

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# @end expo-cli